html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  background: #0F2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Catamaran', sans-serif;
  font-weight: 500;
  color: beige;
  font-size: 4rem;

}

.App {
  text-align: center;


}

.btn {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.question_card {
  width: 40%;
  margin: 0 auto;
  font-size: 2rem;
  background: white;
  color: black;
}

.btn-primary {
  margin: 1rem 0 2rem 0;
  width: 90%;
  border-radius: 1rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
}